{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load post %}

{% block title %}{% blocktrans trimmed with name=blog.name %}"{{ name }}" blog{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="{% if membership.color %}bg-{{ membership.color }}{% endif %} secondary container" id="blog_container">
        <h1 class="title">{% if blog.icon %}<span class="{{ blog.icon }} icon"></span> {% endif %}{{ blog.name }}</h1>
        {% blocktrans trimmed count counter=members %}
            {{ counter }} member{% plural %}{{ counter }} members
        {% endblocktrans %}
        &bull;
        {% blocktrans trimmed count counter=posts %}
            {{ counter }} post{% plural %}{{ counter }} posts
        {% endblocktrans %}
        {% if blog.about.html_force %}<hr>{% endif %}
        {{ blog.about.html_force|safe }}

        <hr>

        <h2>Blog membership</h2>
        {% if membership.role == "W" %}<p>{% trans "Your request is being processed." %}</p>{% endif %}
        {% if membership.role == "O" %}<p>{% trans "You are an owner of this blog." %}</p>{% endif %}
        {% if membership.role == "A" %}<p>{% trans "You are an administrator of this blog." %}</p>{% endif %}
        {% if is_banned %}
            <p>
                {% blocktrans trimmed %}You are banned in this blog.{% endblocktrans %}
                {% if not membership.ban_is_permanent %}
                    {% blocktrans trimmed with expires=membership.ban_expiration|naturaltime %}Ban expires {{ expires }}.{% endblocktrans %}
                {% endif %}
            </p>
        {% endif %}

        {% if membership and not membership.is_left and membership.role != "W" %}
            <form class="inline display-inline" method="post" action="{% url "update_color_blog" blog_slug=blog.slug %}">
                {% csrf_token %}
                <span class="select-arrow"><select id="color-select" name="color" class="small blue">
                    {% for color in colors %}
                        <option value="{{ color.0 }}" {% if color.0 == current_color %}selected="selected"{% endif %}>{{ color.1 }}</option>
                    {% endfor %}
                </select></span>
                <button>{% trans "Update" %}</button>
                &nbsp;&nbsp;
            </form>
        {% endif %}

        {% if not membership or membership.is_left  %}
            {% if can_join %}
                <form class="inline display-inline" method="post" action="{% url "join_blog" blog_slug=blog.slug %}">
                    {% csrf_token %}
                    <button>{% trans "Join the blog" %}</button>
                </form>
            {% elif user.is_anonymous %}
                <p>{% trans "You should login to join this blog." %}</p>
            {% else %}
                <p>
                    {% trans "You can't join this blog." %}
                    {% if blog.join_condition == 'K' %}
                        {% blocktrans trimmed with karma=blog.join_karma_threshold %}
                            Your karma should be greater than {{ karma }}.
                        {% endblocktrans %}
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}

        {% if membership.can_change_settings or is_moderator %}
            <div class="inline display-inline">
                <a href="{% url "edit_blog" blog_slug=blog.slug %}"><button class="plain bg-green">{% trans "Manage the blog" %}</button></a>
                &nbsp;&nbsp;
            </div>
        {% endif %}

        {% if membership and not membership.is_left and membership.role != "O" %}
            <form class="inline display-inline" method="get" action="{% url "leave_blog" blog_slug=blog.slug %}">
                {% csrf_token %}
                <button class="plain bg-err">{% trans "Leave the blog" %}</button>
                &nbsp;&nbsp;
            </form>
        {% endif %}

        <hr>

        <p>
            <a href="{% url "members_blog" blog_slug=blog.slug %}">{% trans "See all members" %}</a>
            {% if pending %}
                {% blocktrans trimmed count counter=pending %}
                    ({{ counter }} member is waiting for approval)
                    {% plural %}
                    ({{ counter }} members are waiting for approval)
                {% endblocktrans %}
            {% endif %}
        </p>
    </div>

    {% if post_list %}
        <a name="posts"></a>
        {% for post in post_list %}
            <div class="primary container">
                {% post_preview post interesting_blogs=interesting_blogs %}
            </div>
        {% endfor %}

        {% post_navigation page_obj pages "view_blog" blog_slug=blog.slug %}

    {% else %}
        <div class="primary container">
            <h1 class="title">{% trans "Nothing to show" %}</h1>
            <p>
                {% blocktrans trimmed %}
                    There are no posts in this blog.
                    They don't exist. Or they're hidden.
                    We don't know.
                {% endblocktrans %}
                <!-- TODO link to the post creation form -->
            </p>
        </div>
    {% endif %}

{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
<script>
    (function () {
        function color_update () {
            d3.select('#color-select').attr('class', 'bg-' + d3.select('#color-select').node().value);
            d3.select('#blog_container').attr('class', 'secondary container bg-' + d3.select('#color-select').node().value);
        }

        d3.select('#color-select').on('change', color_update);

        color_update();
    })()
</script>
{% endblock %}

