{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load post %}
{% load vote %}

{% block title %}{{ post.heading }}{% endblock %}


{% block content %}

    <div class="primary container">
        {% post_header post big_title=True %}

        <hr>

        {{ post.content.html_force|safe }}

        <hr>

        <p>
            <span style="font-size: 1.1em">
                {% url "vote_post" post_slug=post.slug as post_url %}
                {% trans "Rating" as rating_caprion %}
                {% vote name=rating_caprion prefix="rating" url=post_url data=rating score=post.rating %}
            </span>
        </p>

        <div class="inline">
            {% if post.author == user or membership.can_delete_posts %}
                <hr>
                <a href="{% url "delete_post" post_slug=post.slug %}" class="plain button">{% trans "Delete the post" %}</a>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "voting/ajax_voting.js" %}"></script>
{% endblock %}
{% block extra_scripts %}
    {{ block.super }}
    <script>
        d3.selectAll('.voting').each(function () {new VoteGroup(this);});
    </script>
{% endblock %}
