{# Display current rating and voting buttons #}


<span class="voting" id="{{ prefix }}-voting" data-url="{{ url }}" data-prefix="{{ prefix }}" data-meta="{{ data.meta }}">
    <span class="badge-group">
        {% if name %}<span class="badge {{ prefix }}-color">{{ name }}</span>{% endif %}<span class="badge outline {{ prefix }}-color" id="{{ prefix }}-score">{{ data.score }}</span>
    </span>
    &nbsp;
    <span class="gray badge" id="{{ prefix }}-upvote-button"><span class="arrow-up center icon"></span></span>
    <span class="gray badge" id="{{ prefix }}-downvote-button"><span class="arrow-down center icon"></span></span>
    &nbsp;
    <span class="gray badge outline" id="{{ prefix }}-error" style="opacity: 0"></span>
</span>
