{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with username=user_display.username|capfirst %}Edit {{ username }}'s profile{% endblocktrans %}{% endblock %}


{% block content %}
    <div class="primary container">
        <h1 class="title">
            {{ user_display|capfirst }}
            <small>{% trans "edit profile" %}</small>
        </h1>

        <p>
            {% blocktrans trimmed %}
                You can't use this action on yourself.
            {% endblocktrans %}
        </p>
        <p>
            <a href="{% url 'view_profile' username=user_display.username %}">
                {% blocktrans trimmed with username=user_display.username %}
                    Back to the {{ username }}'s profile.
                {% endblocktrans %}
            </a>
        </p>

    </div>
{% endblock %}
