{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with username=user_display %}Edit {{ username }}'s profile{% endblocktrans %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ form_user.media }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form class="bg-blue secondary container" method="post">
        <h1 class="title">
            {{ user_display }}
            <small>{% trans "edit profile" %}</small>
        </h1>
        {% if not is_self_profile %}
            <hr>
            <section class="errorlist">
                {% blocktrans trimmed %}
                    Warning: you are about to change other's user profile.
                    You have permission to do that, just don't mess it up!
                {% endblocktrans %}
            </section>
            <hr>
        {% endif %}
        {% csrf_token %}
        {{ form_user.as_section }}
        {{ form.as_section }}
        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Save" %}</button>
            <a class="secondary button" href="{% url 'view_profile' username=user_display.username %}">{% trans "Cancel" %}</a>
        </section>
    </form>
{% endblock %}
