{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load vote %}

{% block title %}{% blocktrans trimmed with username=user_display|capfirst %}{{ username }}'s profile{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="primary container">
        <h1 class="title">
            {{ user_display|capfirst }}
            {% if not user_display.is_active %}
                {# Translators: here, disabled == unable to login, deleted #}
                <small>{% trans "disabled" %}</small>
            {% endif %}
        </h1>

        <span style="font-size: 1.1em">
            {% url "vote_user" username=user_display.username as karma_url %}
            {% trans "Karma" as karma_caprion %}
            {% vote name=karma_caprion prefix="karma" url=karma_url data=karma %}
        </span>

        {% if user_display.first_name or user_display.last_name %}
            <p>{{ user_display.first_name }} {{ user_display.last_name }}</p>
        {% endif %}

        {% if visible_email %}
            <p><a href="mailto:{{ user_display.email }}">{{ visible_email }}</a></p>
        {% endif %}

        {% if user_display.profile.location %}
            <p>{% blocktrans trimmed with location=user_display.profile.location %}From {{ location }}{% endblocktrans %}</p>
        {% endif %}

        {% if user_display.profile.birthday %}
            <p>{% blocktrans trimmed with birthday=user_display.profile.birthday %}Birthday at {{ birthday }}{% endblocktrans %}</p>
        {% endif %}

        {% if user_display.profile.about.html_force %}
            {% if user_display.first_name or user_display.last_name or user_display.profile.location or user_display.profile.birthday %}
                <hr>
            {% endif %}
            {{ user_display.profile.about.html_force|safe }}
            {% if editable %}
                <hr>
            {% endif %}
        {% endif %}

        {% if editable %}
            <p>
                <a href="{% url 'edit_profile' username=user_display.username %}">{% trans "Edit profile" %}</a>
                {% if is_moderator %}
                    &bull;
                    {% if user_display.is_active %}
                        <a href="{% url 'switch_active' username=user_display.username %}">{% trans "Disable account" %}</a>
                    {% else %}
                        <a href="{% url 'switch_active' username=user_display.username %}">{% trans "Enable account" %}</a>
                    {% endif %}
                {% endif %}
                {% if is_self_profile %}
                    &bull;
                    <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                {% endif %}
            </p>
        {% endif %}

        <hr>

        <p>{% trans "No membership" %}</p>
        <!-- TODO list of blogs and posts here -->

        <hr>

    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "voting/ajax_voting.js" %}"></script>
{% endblock %}
{% block extra_scripts %}
    {{ block.super }}
    <script>
        d3.selectAll('.voting').each(function () {new VoteGroup(this);});
    </script>
{% endblock %}
