{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load vote %}

{% block title %}{% blocktrans trimmed with username=user_display %}{{ username }}'s profile{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="bg-blue secondary container">
        <h1 class="title">
            {{ user_display }}
            {% if not user_display.is_active %}
                {# Translators: here, disabled == unable to login, deleted #}
                <small>{% trans "account is disabled" %}</small>
            {% endif %}
        </h1>

        <span style="font-size: 1.1em">
            {% url "vote_user" username=user_display.username as karma_url %}
            {% trans "Karma" as karma_caprion %}
            {% vote name=karma_caprion prefix="karma" url=karma_url data=karma score=user_display.profile.karma %}
        </span>

        {% if user_display.first_name or user_display.last_name %}
            <p>{{ user_display.first_name }} {{ user_display.last_name }}</p>
        {% endif %}

        {% if visible_email %}
            <p><a href="mailto:{{ user_display.email }}">{{ visible_email }}</a></p>
        {% endif %}

        {% if user_display.profile.location %}
            <p>{% blocktrans trimmed with location=user_display.profile.location %}From {{ location }}{% endblocktrans %}</p>
        {% endif %}

        {% if user_display.profile.birthday %}
            <p>{% blocktrans trimmed with birthday=user_display.profile.birthday %}Birthday at {{ birthday }}{% endblocktrans %}</p>
        {% endif %}

        {% if user_display.profile.about.html_force %}
            {% if user_display.first_name or user_display.last_name or user_display.profile.location or user_display.profile.birthday %}
                <hr>
            {% endif %}
            {{ user_display.profile.about.html_force|safe }}
            {% if editable %}
                <hr>
            {% endif %}
        {% endif %}

        {% if editable %}
            <p>
                <a href="{% url 'edit_profile' username=user_display.username %}">{% trans "Edit profile" %}</a>
                {% if is_moderator %}
                    &bull;
                    {% if user_display.is_active %}
                        <a href="{% url 'switch_active' username=user_display.username %}">{% trans "Disable account" %}</a>
                    {% else %}
                        <a href="{% url 'switch_active' username=user_display.username %}">{% trans "Enable account" %}</a>
                    {% endif %}
                {% endif %}
                {% if is_self_profile %}
                    &bull;
                    <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                {% endif %}
            </p>
        {% endif %}

        <hr>

        {% if not blogs %}
            <p>{% trans "No membership" %}</p>
        {% else %}
            <p><b>Blogs</b></p>
            <p style="column-width: 200px">
            {% for blog in blogs %}
{#                <span class="nowrap">#}
                    <a href="{% url "view_blog" blog_slug=blog.blog.slug %}">{{ blog.blog.name }}</a>
                    &bull;
                    {% if blog.rating %}
                        {{ blog.rating }}
                    {% else %}
                        0
                    {% endif %}

                    {% if blog.role == "A" %}
                        &bull;
{#                        TODO: links #}
                        <a href="">
                            {# Translators: A for Administrator #}
                            {% trans "A" %}
                        </a>
                    {% elif blog.role == "O" %}
                        &bull;
                        <a href="">
                            {# Translators: O for Owner #}
                            {% trans "O" %}
                        </a>
                    {% endif %}
{#                </span>#}
                <br>
            {% endfor %}
            </p>
        {% endif %}

        <hr>

        {% if not posts %}
            <p>{% trans "No posts" %}</p>
        {% else %}
            <p><b>Posts</b></p>
            <p style="column-width: 200px">
            {% for post in posts %}
                <a href="{% url "view_post" post_slug=post.slug %}">{{ post.heading }}</a>
                &bull;
                {{ post.rating }}
                <br>
            {% endfor %}
            </p>
        {% endif %}

        <hr>

    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "voting/ajax_voting.js" %}"></script>
{% endblock %}
{% block extra_scripts %}
    {{ block.super }}
    <script>
        d3.selectAll('.voting').each(function () {new VoteGroup(this);});
    </script>
{% endblock %}
