{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block nav %}
    <div class="shadowed container">
        <h2><a href="/">{{ global_site_name }}</a></h2>
    </div>
{% endblock %}

{% block content %}
    <form novalidate method="post" action="" class="login container">
        <h1>{% trans 'Log in' %}</h1>
        {% csrf_token %}
        {{ form.as_section }}
        <section class="separate">
            <button type="submit" class="primary">{% trans "Log in" %}</button>
        </section>
        <section>
            <small>
                <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
                &bull;
                <a href="{% url 'password_reset' %}">{% trans "Reset password" %}</a>
            </small>
        </section>
    </form>
{% endblock %}
