{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <form novalidate method="post" action="" class="primary container">
        <h1>{% trans 'Register for an account' %}</h1>
        {% csrf_token %}
        {{ form.as_section }}

        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Register" %}</button>
            <span class="nowrap">
                <a class="plain button" href="{% url 'login' %}">{% trans "Log in" %}</a>
                <a class="plain button" href="{% url 'password_reset' %}">{% trans "Reset password" %}</a>
            </span>
        </section>
    </form>
{% endblock %}
