{% extends "base.html" %}
{% load i18n %}
{% load forms %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="content">
        <form method="post" action="" class="forms">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans 'Log in' %}</legend>

                <div class="container">

                    {% form_errlist form %}

                    <div class="row">
                        {% form_field form.username "one-half column" %}
                        {% form_field form.password "one-half column" %}
                    </div>
                </div>

                <div class="control-buttons">
                    <div class="container">
                        <button type="submit" class="primary">{% trans "Log in" %}</button>
                        <button class="button-link button-link-first"><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></button>
                        <button class="button-link"><a href="{% url 'password_reset' %}">{% trans "Reset password" %}</a></button>
                    </div>
                </div>

            </fieldset>

{#            <div class="meta">#}
{#                {% trans "Forgot your password?" %} <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>.#}
{#            </div>#}
{#            <div class="meta">#}
{#                {% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.#}
{#            </div>#}

            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}
