{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <form method="post" action="" class="primary container">
        <h1 class="title">
            {{ user|capfirst }}
            <small>{% trans "change password" %}</small>
        </h1>
        {% csrf_token %}
        {{ form.as_section }}

        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Let's go!" %}</button>
        </section>
    </form>
{% endblock %}
