{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

    <form method="post" action="" class="primary container">
        <h2>{% trans 'Reset password' %}</h2>

        <p>
            {% blocktrans trimmed %}
                Forgot your password? Enter your email in the form below and
                we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>

        {% csrf_token %}
        {{ form.as_section }}

        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Reset password" %}</button>
            <span class="nowrap">
                <a class="plain button" href="{% url 'login' %}">{% trans "Log in" %}</a>
                <a class="plain button" href="{% url 'registration_register' %}">{% trans "Register" %}</a>
            </span>
        </section>
    </form>


{#    <div class="content">#}
{#        <form method="post" action="" class="forms">#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                <legend>{% trans "Reset password" %}</legend>#}
{##}
{#                <div class="container">#}
{##}
{##}
{#                    {% form_errlist form %}#}
{##}
{#                    <div class="row">#}
{#                        {% form_field form.email "twelwe columns" %}#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#                <div class="control-buttons">#}
{#                    <div class="container">#}
{#                        <button type="submit" class="primary">{% trans "Reset password" %}</button>#}
{#                        <div class="button button-link"><a href="{% url 'login' %}">{% trans "Log in" %}</a></div>#}
{#                        <div class="button button-link"><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </fieldset>#}
{##}
{#            <input type="hidden" name="next" value="{{ next }}" />#}
{#        </form>#}
{#    </div>#}

{% endblock %}
