{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <form method="post" action="" class="primary container">
        <h2 class="title">{% trans "Change password" %}</h2>
        {% csrf_token %}
        {{ form.as_section }}

        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Let's go!" %}</button>
        </section>
    </form>
{#    <div class="content">#}
{#        <form method="post" action="" class="forms">#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                <legend>{% trans "Change password" %}</legend>#}
{##}
{#                <div class="container">#}
{##}
{#                    {% form_errlist form %}#}
{##}
{#                    <div class="row">#}
{#                        {% form_field form.old_password "twelwe columns" %}#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        {% form_field form.new_password1 "twelwe columns" %}#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        {% form_field form.new_password2 "twelwe columns" %}#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="control-buttons">#}
{#                    <div class="container">#}
{#                        <button type="submit" class="primary">{% trans "Let's go!" %}</button>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </fieldset>#}
{#            <input type="hidden" name="next" value="{{ next }}" />#}
{#        </form>#}
{#    </div>#}

{% endblock %}
