{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
    {% if form %}
        <form method="post" action="" class="primary container">
            <h1 class="title">
                {% trans "Confirm password reset" %}
            </h1>
            {% csrf_token %}
            {{ form.as_section }}

            <section class="inline separate">
                <button type="submit" class="primary">{% trans "Let's go!" %}</button>
            </section>
        </form>
    {% else %}
        <div class="primary container">
            <p>
                {% blocktrans trimmed %}
                    Your password reset link is invalid.
                    Maybe it's a typo or this link has been used already.
                {% endblocktrans %}
            </p>
            <p>
                {% url "password_reset" as password_reset %}
                {% blocktrans trimmed %}
                    In any case, <a href="{{ password_reset }}">try again</a>.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}

{% endblock %}
