{% extends "base.html" %}
{% load i18n %}
{% load forms %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
    <div class="content">
        {% if form %}
            <form method="post" action="" class="forms">
                {% csrf_token %}
                <fieldset>
                    <legend>{% trans "Confirm password reset" %}</legend>

                    <div class="container">

                        <p>{% trans "Enter your new password below to reset your password:" %}</p>

                        {% form_errlist form %}

                        <div class="row">
                            {% form_field form.new_password1 "twelwe columns" %}
                        </div>
                        <div class="row">
                            {% form_field form.new_password2 "twelwe columns" %}
                        </div>

                    </div>
                </fieldset>

                <div class="container">
                    <div class="row">
                        <input type="submit" value="{% trans "Let's go!" %}" />
                    </div>
                </div>

                <div class="meta">
                    <a href="{% url 'password_reset' %}">{% trans "Back to the login page" %}</a>.
                </div>
                <div class="meta">
                    {% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.
                </div>

                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        {% else %}
            <p>
                {% blocktrans %}
                    Your password reset link is invalid.
                    Maybe it's a typo or this link has been used already.
                {% endblocktrans %}
            </p>
            <p>
                {% url "password_reset" as password_reset %}
                {% blocktrans %}
                    In any case, <a href="{{ password_reset }}">try again</a>.
                {% endblocktrans %}
            </p>
        {% endif %}
    </div>

{% endblock %}

