{% extends "base.html" %}
{% load i18n %}
{% load forms %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <div class="content">
        <form method="post" action="" class="forms">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans 'Register for an account' %}</legend>

                <div class="container">

                    {% form_errlist form %}

                    <div class="row">
                        {% form_field form.username "twelwe columns" %}
                    </div>
                    <div class="row">
                        {% form_field form.email "twelwe columns" %}
                    </div>
                    <div class="row">
                        {% form_field form.password1 "twelwe columns" %}
                    </div>
                    <div class="row">
                        {% form_field form.password2 "twelwe columns" %}
                    </div>
                    <div class="row">
                        {% form_field form.captcha "twelwe columns" %}
                    </div>
                </div>

                <div class="control-buttons">
                    <div class="container">
                        <button type="submit" class="primary">{% trans "Register" %}</button>
                        <button class="button-link button-link-first"><a href="{% url 'login' %}">{% trans "Log in" %}</a></button>
                        <button class="button-link"><a href="{% url 'password_reset' %}">{% trans "Reset password" %}</a></button>
                    </div>
                </div>

            </fieldset>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}
