{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with username=user|capfirst %}{{ username }}'s profile{% endblocktrans %}{% endblock %}


{% block content %}
    <div class="primary container">
        <h1>
            {{ user|capfirst }}
            <small>{% if self_profile %}{% trans "your profile" %}{% else %}{% trans "user profile" %}{% endif %}</small>
        </h1>

        <span style="font-size: 1.1em">
            <span class="badge-group">
                {% if karma.score > 5 %}
                    <span class="green badge">{% trans "Karma" %}</span><span class="green badge outline">{{ karma.score }}</span>
                {% elif karma.score < -5 %}
                    <span class="orange badge">{% trans "Karma" %}</span><span class="orange badge outline">{{ karma.score }}</span>
                {% else %}
                    <span class="gray badge">{% trans "Karma" %}</span><span class="gray badge outline">{{ karma.score }}</span>
                {% endif %}
            </span>
            &nbsp;
            <span class="gray badge outline" id="karma-upvote-button"><span class="arrow-up center icon"></span></span>
            <span class="gray badge outline" id="karma-downvote-button"><span class="arrow-down center icon"></span></span>
        </span>

        {% if user.first_name or user.last_name %}
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        {% endif %}

        {% if show_email and visible_email %}
            <p>{{ visible_email }}</p>
        {% endif %}

        {% if user.profile.location %}
            <p>{% blocktrans trimmed with location=user.profile.location %}From {{ location }}{% endblocktrans %}</p>
        {% endif %}

        {% if user.profile.birthday %}
            <p>{% blocktrans trimmed with birthday=user.profile.birthday %}Birthday at {{ birthday }}{% endblocktrans %}</p>
        {% endif %}

        {% if user.profile.about.html_force %}
            {% if user.first_name or user.last_name or user.profile.location or user.profile.birthday %}
                <hr>
            {% endif %}
            {{ user.profile.about.html_force|safe }}
            {% if editable or self_profile %}
                <hr>
            {% endif %}
        {% endif %}

        {% if editable or self_profile %}
            <p>
                {% if editable %}
                    <a href="{% url 'edit_profile' username=user.username %}">{% trans "Edit profile" %}</a>
                {% endif %}
                {% if editable and self_profile %}
                    &bull;
                {% endif %}
                {% if self_profile %}
                    <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                {% endif %}
            </p>
        {% endif %}

        <hr>

        <p>{% trans "No membership" %}</p>

        <hr>

    </div>
{% endblock %}
