{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with name=blog.name %}Leave the "{{ name }}" blog{% endblocktrans %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ form_user.media }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form class="{% if membership.color %}bg-{{ membership.color }}{% endif %} secondary container" method="post">
        <h1 class="title">
            <a href="{% url "view_blog" blog_slug=blog.slug %}">
                {% if blog.icon %}<span class="{{ blog.icon }} icon"></span> {% endif %}{{ blog.name }}
                <small>{% trans "leave blog" %}</small>
            </a>
        </h1>
        {% csrf_token %}
        <p>{% blocktrans trimmed with name=blog.name %}Are you sure you want to
        leave the "{{ name }}" blog?{% endblocktrans %}</p>
        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Leave" %}</button>
            <a class="secondary button" href="{% url 'view_blog' blog_slug=blog.slug %}">{% trans "Cancel" %}</a>
        </section>
    </form>
{% endblock %}
