{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with name=blog.name %}Edit the "{{ name }}" blog{% endblocktrans %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ form_user.media }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form class="{% if membership.color %}bg-{{ membership.color }}{% endif %} secondary container" method="post">
        <h1 class="title">
            <a href="{% url "view_blog" blog_slug=blog.slug %}">
                {% if blog.icon %}<span class="{{ blog.icon }} icon"></span> {% endif %}{{ blog.name }}
                <small>{% trans "edit blog" %}</small>
            </a>
        </h1>
        {% if is_moderator %}
            {% if not membership or membership.is_left or membership.is_banned or not membership.can_change_settings_flag or not membership.role == "O" and not membership.role == "A" %}
                <hr>
                <section class="errorlist">
                    {% blocktrans trimmed %}
                        Warning: you are about to change a blog that you are not an administrator of.
                        You have permission to do that, just don't mess it up!
                    {% endblocktrans %}
                </section>
                <hr>
            {% endif %}
        {% endif %}
        {% csrf_token %}
        {{ form.as_section }}
        <section class="inline separate">
            <button type="submit" class="primary">{% trans "Save" %}</button>
            <a class="secondary button" href="{% url 'view_blog' blog_slug=blog.slug %}">{% trans "Cancel" %}</a>
        </section>
    </form>
{% endblock %}
