{% extends "base.html" %}
{% load i18n %}
{% load post %}

{% block title_global %}{{ global_site_name }}{% endblock %}


{% block content %}
    <div class="inline primary container">
        <p class="text-centered">
            {% if type == "feed" %}
                <span class="disabled full-width-on-low button">{% trans "All" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "homepage" page=page_obj.number %}">{% trans "All" %}</a>
            {% endif %}

            {% if not user.is_anonymous %}
                &nbsp;&nbsp;

                {% if type == "personal" %}
                    <span class="disabled full-width-on-low button">{% trans "Feed" %}</span>
                {% else %}
                    <a class="full-width-on-low button" href="{% url "feed_personal" page=page_obj.number %}">{% trans "Feed" %}</a>
                {% endif %}
            {% endif %}

            &nbsp;&nbsp;

            {% if type == "day" %}
                <span class="disabled full-width-on-low button">{% trans "Day best" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "feed_day_best" page=page_obj.number %}">{% trans "Day best" %}</a>
            {% endif %}

            &nbsp;&nbsp;

            {% if type == "month" %}
                <span class="disabled full-width-on-low button">{% trans "Month best" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "feed_month_best" page=page_obj.number %}">{% trans "Month best" %}</a>
            {% endif %}

            &nbsp;&nbsp;

            {% if type == "best" %}
                <span class="disabled full-width-on-low button">{% trans "All time best" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "feed_best" page=page_obj.number %}">{% trans "All time best" %}</a>
            {% endif %}
        </p>
    </div>

    {% if post_list %}
        {% for post in post_list %}
            <div class="primary container">
                {% post_preview post interesting_blogs=interesting_blogs %}
            </div>
        {% endfor %}

        <div class="inline primary container">
            <p class="text-centered">
                {% if page_obj.has_previous %}
                    <a class="full-width-on-low button" href="{% url "homepage" page=page_obj.previous_page_number %}">&lt;&lt;&lt;</a>
                {% else %}
                    <span class="disabled full-width-on-low button">&lt;&lt;&lt;</span>
                {% endif %}

                &nbsp;&nbsp;

                {% for page in pages %}
                    {% if page == page_obj.number %}
                        <span class="full-width-on-low button">{{ page }}</span>
                    {% else %}
                        <a class="full-width-on-low button" href="{% url "homepage" page=page %}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                &nbsp;&nbsp;

                {% if page_obj.has_next %}
                    <a class="full-width-on-low button" href="{% url "homepage" page=page_obj.next_page_number %}">&gt;&gt;&gt;</a>
                {% else %}
                    <span class="disabled full-width-on-low button">&gt;&gt;&gt;</span>
                {% endif %}
            </p>
        </div>
    {% else %}
        <div class="primary container">
            <h1 class="title">{% trans "Nothing to show" %}</h1>
            <p>
                {% blocktrans trimmed %}
                    Sorry, but we have no entries to show.
                    Maybe you'd like to write one?
                {% endblocktrans %}
                <!-- TODO link to the post creation form -->
            </p>
        </div>
    {% endif %}

{% endblock %}
