{% extends "base.html" %}
{% load i18n %}
{% load post %}

{% block title_global %}{{ global_site_name }}{% endblock %}


{% block content %}
    <div class="inline primary container">
        <p class="text-centered">
            {% if type == "homepage" %}
                <span class="disabled full-width-on-low button">{% trans "All" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "homepage" page=page_obj.number %}">{% trans "All" %}</a>
            {% endif %}

            {% if not user.is_anonymous %}
                &nbsp;&nbsp;

                {% if type == "feed_personal" %}
                    <span class="disabled full-width-on-low button">{% trans "Feed" %}</span>
                {% else %}
                    <a class="full-width-on-low button" href="{% url "feed_personal" page=page_obj.number %}">{% trans "Feed" %}</a>
                {% endif %}
            {% endif %}

            &nbsp;&nbsp;

            {% if type == "feed_day_best" %}
                <span class="disabled full-width-on-low button">{% trans "Day best" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "feed_day_best" page=page_obj.number %}">{% trans "Day best" %}</a>
            {% endif %}

            &nbsp;&nbsp;

            {% if type == "feed_month_best" %}
                <span class="disabled full-width-on-low button">{% trans "Month best" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "feed_month_best" page=page_obj.number %}">{% trans "Month best" %}</a>
            {% endif %}

            &nbsp;&nbsp;

            {% if type == "feed_best" %}
                <span class="disabled full-width-on-low button">{% trans "All time best" %}</span>
            {% else %}
                <a class="full-width-on-low button" href="{% url "feed_best" page=page_obj.number %}">{% trans "All time best" %}</a>
            {% endif %}
        </p>
    </div>

    {% if post_list %}
        {% for post in post_list %}
            <div class="primary container">
                {% post_preview post interesting_blogs=interesting_blogs %}
            </div>
        {% endfor %}

        {% post_navigation page_obj pages type %}

    {% else %}
        <div class="primary container">
            <h1 class="title">{% trans "Nothing to show" %}</h1>
            <p>
                {% blocktrans trimmed %}
                    Sorry, but we have no entries to show.
                    Maybe you'd like to write one?
                {% endblocktrans %}
                <!-- TODO link to the post creation form -->
            </p>
        </div>
    {% endif %}

{% endblock %}
