{% extends "base.html" %}
{% load i18n %}
{% load post %}

{% block title %}{% trans "You have no access to this post" %}{% endblock %}


{% block content %}

    <div class="primary container">
        <h1 class="title">{% trans "You have no access to this post" %}</h1>
        <p>
            {% blocktrans trimmed with blog as blog %}
                You should be the member of the blog "{{ blog }}"
                to view this post.
            {% endblocktrans %}
            <!-- TODO link to become a member -->
        </p>
    </div>

{% endblock %}
