{% load i18n %}
{% load humanize %}

{% if post.rating <= -20 %}
    <h1 class="title"><a href="{% url "view_post" post_id=post.pk %}">{{ post.heading }}</a></h1>
    <p>
        {% trans "Author:" %}
        <a href="{% url "view_profile" username=post.author.username %}">{{ post.author.username|capfirst }}</a>,
        {{ post.created|naturaltime }}
    </p>
    <p>
        {% blocktrans trimmed with rating=post.rating %}
            This post have very low rating ({{ rating }}). It was hidden from your feed.
        {% endblocktrans %}
    </p>

{% else %}

    <h1 class="title"><a href="{% url "view_post" post_id=post.pk %}">{{ post.heading }}</a></h1>
    <p>
        {% trans "Author:" %}
        <a href="{% url "view_profile" username=post.author.username %}">{{ post.author.username|capfirst }}</a>,
        {{ post.created|naturaltime }}
    </p>
    {% if post.blog %}
        <p>
            <span class="badge">
                {% if post.blog.icon %}<span class="{{ post.blog.icon }} icon"></span>{% endif %}
                {{ post.blog.name }}
            </span>
        </p>
    {% endif %}

    <hr>

    {{ post.content_before_cut|safe }}

    <p class="inline">
        <a class="info outline badge" href="{% url "view_post" post_id=post.pk %}">{% trans "Read more ->" %}</a>
    </p>

    <hr>

    <p>
        <span class="badge-group">
            <span class="gray badge">{% trans "Rating" %}</span><span class="gray badge outline">{% if post.rating == None %}0{% else %}{{ post.rating }}{% endif %}</span>
        </span>
    </p>
{% endif %}