{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title_global %}{% block title %}{% endblock %} | {{ global_site_name }}{% endblock %}</title>
    {% block style %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "build/main.css" %}">
    {% endblock %}
    {% block extra_style %}
    {% endblock %}
    {% block scripts_top %}
        <script src="{% static "d3.min.js" %}"></script>
        <script src="{% static "cookie.js" %}"></script>
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="block">
        {% block nav %}
            <div class="primary container">
                <h3><a href="/">{{ global_site_name }}</a></h3>
            </div>
        {% endblock %}

        {% block messages %}
            <script>
                function message_remove_button_animation(id) {
                    d3.select('#msg-' + id)
                            .transition()
                            .style('opacity', 0)
                            .remove();

                    console.log(d3.selectAll('.message').size());

                    if (d3.selectAll('.message').size() <= 1) {
                        d3.select('#messages-container')
                                .transition()
                                .style('opacity', 0)
                                .remove();
                    }
                }

                function message_remove_button(id, url) {
                    function callback(err) {
                        if (!err) { message_remove_button_animation(id); }
                    }

                    d3.select('#msg-' + id + '-close-button').on('click', function () {
                        d3.text(url)
                                .header('X-Requested-With', 'XMLHttpRequest')
                                .header('X-CSRFToken', Cookies.get('csrftoken'))
                                .post(callback)
                    });
                }

                function message_remove_button_norequest(id) {
                    d3.select('#msg-' + id + '-close-button').on('click', function () {
                        message_remove_button_animation(id);
                    });
                }
            </script>
            {% if messages %}
                <div class="primary container" id="messages-container">
                    {% for message in messages %}
                        <div>
                            <span class="message" id="msg-{{ message.pk }}">
                            {% if "success" in message.tags %}
                                <span class="{{ message.tags }} ok badge"><span class="check icon"></span> success</span>
                            {% elif "error" in message.tags %}
                                <span class="{{ message.tags }} err badge"><span class="warning icon"></span> error</span>
                            {% elif "warning" in message.tags %}
                                <span class="{{ message.tags }} warn badge"><span class="warning icon"></span> warning</span>
                            {% elif "info" in message.tags %}
                                <span class="{{ message.tags }} badge"><span class="info-with-circle icon"></span> info</span>
                            {% endif %}
                            &nbsp;
                            {{ message }}
                            <span class="dashed-border outline badge" id="msg-{{ message.pk }}-close-button"><span class="circle-with-cross center icon"></span></span>
                            {% if "persistent" in message.tags or "sticky" in message.tags %}
                                <script>message_remove_button('{{ message.pk }}', '{% url "message_mark_read" message.pk %}');</script>
                            {% else %}
                                <script>message_remove_button_norequest('{{ message.pk }}');</script>
                            {% endif %}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <br><br>
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
    {% block extra_scripts %}
    {% endblock %}

</body>
</html>
