{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load post %}
{% load vote %}

{% block title %}{{ post.heading }}{% endblock %}


{% block content %}

    <div class="primary container">
        <h1 class="title">{{ post.heading }}</h1>
        <p>
            {% trans "Author:" %}
            <a href="{% url "view_profile" username=post.author.username %}">{{ post.author.username|capfirst }}</a>,
            {{ post.created }}
        </p>
        {% if post.blog %}
            <p>
                <span class="badge">
                    {% if post.blog.icon %}<span class="{{ post.blog.icon }} icon"></span>{% endif %}
                    {{ post.blog.name }}
                </span>
            </p>
        {% endif %}

        <hr>

        {{ post.content.html_force|safe }}

        <hr>

        <p>
            <span style="font-size: 1.1em">
                {% url "vote_post" post_id=post.pk as post_url %}
                {% trans "Post" as name %}
                {% vote name=name prefix="post" url=post_url current_score=rating.score self_vote=self_vote.vote use_colors=False current_color="gray" %}
            </span>
        </p>

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "voting/ajax_voting.js" %}"></script>
{% endblock %}
{% block extra_scripts %}
    {{ block.super }}
    <script>
        {% url "vote_post" post_id=post.pk as post_url %}
        {% trans "Post" as name %}
        {% vote_script name=name prefix="post" url=post_url current_score=rating.score self_vote=self_vote.vote use_colors=False current_color="gray" %}
    </script>
{% endblock %}

